<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>选课题</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/layer/css/layui.css}"  media="all"/>
</head>
<body>
<th:block th:if="${#lists.size(topicList) == 0}" >
    <div style="font-size: 18px; margin: 100px 0 0 20%;">
        暂无课题，请等待教师发布课题<br/>
    </div>
</th:block>

<div th:each="topic:${topicList}">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" th:text="${topic.name}"></h2>

            <div class="layui-colla-content">
                <button class="btn btn-success" onclick="selectTopic()">选择课题</button>
                <a th:href="@{/teacher/editTopic/{topic} (topic=${topic.topicId})}"><button class="btn btn-primary">修改课题</button></a>
                <button class="btn btn-warning" onclick="editStudent()">修改已选题学生</button>
                <button class="btn btn-danger" th:onclick="'javascript:deleteTopic(\''+${topic.topicId}+'\');'">删除课题</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/layer/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['element', 'layer'], function(){
        // var element = layui.element;
        // var layer = layui.layer;
    });
    
    function selectTopic() {
        layer.open({
            type: 1,
            title: '选择课题',
            area: ['350px', '250px'],
            content: '<form action="/"><input name="comment"/><br/><button type="submit" class="btn btn-success">确定选择</button></form>'
        })
    }
    function editStudent() {
        layer.open({
            type: 1,
            title: '更换学生',
            area: ['500px', '300px'],
            content: '<form><input name="studentId"/></form>'
        })
    }
    function deleteTopic(topicId) {
        layer.confirm('确实要删除课题吗？', {
            btn: ['取消', '确认'] //可以无限个按钮
            ,btn2: function(index, layero){
                $.get('/myth/teacher/del/topic/'+topicId, function (data) {
                    console.log(data)
                    window.location.reload(true)
                })
                return 0
            }
        }, function(index){
            return 0
        });
    }
</script>
</body>
</html>