<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Signin</title>

    <link href="/myth/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/myth/css/signin.css" rel="stylesheet"/>
    <link href="/myth/layer/css/modules/layer/default/layer.css" rel="stylesheet"/>

    <script src="/myth/js/jquery.min.js"></script>
    <script src="/myth/layer/lay/modules/layer.js"></script>
    <script src="/myth/js/common/login.js"></script>
    <script>
        // layer.msg('hello');
        login("登录学生系统", "student");
        alertError()
        readParamter("student")
    </script>
<style>
    body {
        background-image: url("/myth/images/5710000199.jpg");
    }
</style>
</head>

<body>

</body>
</html>