<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous"/>-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/layer/css/layui.css}"  media="all"/>
<style>
    /*button{*/
        /*font-size: 14px;*/
    /*}*/

</style>

</head>
<body>

<!--列表，展示所有发布的课题，然后点击可以看到每个课题里面具体的学生的交流情况-->

<!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">-->
    <!--<legend>常规折叠</legend>-->
<!--</fieldset>-->
<th:block th:if="${#lists.size(topicList) == 0}" >
    <div style="font-size: 18px; margin: 100px 0 0 20%;">
        没有保存的课题，请到发布页面进行编辑发布<br/><a href="PublishTopic.html"><button class="btn btn-primary">点击前往</button></a>
    </div>
</th:block>
<div th:each="topic:${topicList}">
    <div class="layui-collapse" lay-filter="test">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" th:text="${topic.name}"></h2>
            <div class="layui-colla-content">
                <!--两重循环-->
                <div th:each="Id : ${stuList.keySet()}">
                    <div th:each="selects: ${stuList.get(Id)}">
                        <th:block th:if="${Id eq topic.topicId}" >
                            <h2 th:text="${selects.studentId.name}"></h2>
                            <div th:text="${selects.comment}"></div>
                        </th:block>
                    </div>
                </div>
                <hr/>
                <button class="btn btn-success">提交审核</button>
                <a th:href="@{/teacher/editTopic/{topic} (topic=${topic.topicId})}"><button class="btn btn-primary">修改课题</button></a>
                <button class="btn btn-warning" onclick="editStudent()">修改已选题学生</button>
                <button class="btn btn-danger" th:onclick="'javascript:deleteTopic(\''+${topic.topicId}+'\');'">删除课题</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/layer/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['element', 'layer'], function(){
        var element = layui.element;
        var layer = layui.layer;

        //监听折叠
//         element.on('collapse(test)', function(data){
// //            layer.msg('展开状态：'+ data.show);
//         });
    });
    function editStudent() {
        layer.open({
            type: 1,
            title: '更换学生',
            content: '<form><input name="studentId"/></form>'
        })
    }
    function deleteTopic(topicId) {
        layer.confirm('确实要删除课题吗？', {
            btn: ['取消', '确认'] //可以无限个按钮
            ,btn2: function(index, layero){
                $.get('/myth/teacher/del/topic/'+topicId, function (data) {
                    console.log(data)
                    window.location.reload(true)
                })
                return 0
            }
        }, function(index){
            return 0
        });
    }
</script>
</body>
</html>