<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>登录教师系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
    <link th:href="@{/layer/css/modules/layer/default/layer.css}" rel="stylesheet"/>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/layer/lay/modules/layer.js}"></script>
    <script th:src="@{/js/common/login.js}"></script>
    <script>
        login("登录教师系统", "teacher");
        alertError()
    </script>
    <style>
        body {
            background-image: url("/myth/images/5710000203.jpg");
        }
    </style>
</head>

<body>

</body>
</html>