<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>发布课题</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/nic/nicEdit.js}"></script>
    <script type="text/javascript">
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
    </script>
    <style>
        .main {
            height: 800px;
        }
    </style>
</head>
<body>
<div class="main">
    <div>
        <form th:action="@{/teacher/addTopic}">
        <!--<label for="exampleInputEmail1">课题名称</label>-->
        <input type="text" class="form-control" name="name" id="exampleInputEmail1" placeholder="课题名称" style=" text-align: center; width:440px;margin: 10px 0 10px 30%"/>
        <div style=" margin: 0 40px 0 80px;">
            <label for="content"></label>
            <textarea name="attention" id="content" style="width: 100%; height: 380px;">课题要求</textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:46%; margin-top: 10px;" >提交审核</button>
        </form>
    </div>
</div>
<script>

</script>
</body>
</html>